@font-face{
	font-family: retropix;
	src: url(media/retropix.ttf);
}

@font-face{
	font-family:  roboto;
	src: url(media/roboto.ttf);
}

html,body{
 padding: 0px;
 margin: 0px;
 background: url(media/background.gif);
 color: #e0e0e0;
}


/*Header*/



header .container{
	background: #00000050;
	padding-left: 0px;
	padding-right: 0px;
}


header .container-fluid{
	width: 100%;
	padding-left: 0px;
}

/*Logo*/
#img {
	padding-top: 30px;
	text-align: center;
	padding-left: 0px;
}

	
#img h1{
	display: inline-block;
	text-align: center;
	font-family: retropix;
	padding-top: 10px;
	padding-left: 20px;
	font-size: 1.8em;
	font-weight: 700;

}
#img img{
	width: 18%;
	padding-bottom: 10px;
}

/*Nav*/
.nav{
	text-align: center;
}

.nav {
	margin-top: 55px;
}
.nav li{
	text-decoration: none;
	display: inline-block;
	margin-left: 25px;
	margin-right: 10px;
	margin-top: 10px;
	font-size: 1.2em;
	padding-bottom: 10px;
}


.nav a{
	text-decoration: none;
	color: #e0e0e0;

	transition: all 0.5s;
}

.nav a:hover{
	color: #00D100;
}

.nav button{
	background: #2E2E2E;
	border: #2E2E2E;

	transition: all 0.5s;
}

.nav button:hover{
	background: #454545;
}

.nav .dropdown-menu.show{
	width: 50px;
}
.nav .dropdown-menu.show img{
	width: 100%;
}

.nav .dropdown-item{
	 width: 50%;
}

#dropdownMenu2{
	width: 100px;
}


#dropdownMenu2 img{
	width: 45%;
}


/*Imatge Principal*/

#front img{
	width: 100%;
	height: 100%;
	border-radius: 20px;
}

.hero-text{
	position: absolute;
	z-index: 10;
	bottom: 36%;
	right: 24%;
	text-align: center;
	background-color: #00000050;
	padding: 10px 20px 10px 20px;
	border-radius: 10px;
}

.hero-text h2{
	font-size: 3em;
	font-family: retropix;
	letter-spacing: 0.1em;
	font-weight: 700;
}

.hero-text p{
	font-size: 1.5em;
}

@media only screen and (max-width: 400px){
	.hero-text{
    	position: absolute;
		z-index: 10;
		bottom: 20%;
		right: 10%;
		font-size: 0.5em;
		text-align: center;
		padding: 0px;
	}
}


/*Informació 3 apartats*/

#etc{
	text-align: center;
	background: #00000050;
	width: 87.5%;
	padding: 250px 0px 150px 0px;
}

#etc i{
	font-size: 2em;
}

#etc h2{
	padding: 20px 0px 0px 0px;
}

 #etc p{
 	padding: 20px 0px 0px 0px;
 }


/*Titol opinions*/
#op2 h2{
	padding-top: 180px;
	text-align: center;
	color: #e0e0e0;
}

#op2 i{	
	padding-bottom: 140px;
	font-size: 3em;
	display: flex;
	justify-content: center;
	color: #e0e0e0;
}


 /*Opinions*/

 #op {
 	text-align: center;
 	background: #00000050;
 	width: 87.5%;
 	padding-top: 200px;
 	padding-bottom: 200px;
 }


#op img{
	width: 20%;
	border-radius: 50px;
}

#op p{
	padding-top: 20px;
	font-style: italic;
}

#op .name{
	padding-top: 0px;
	padding-bottom: 50px;
	font-style: normal;
}

#op #stars{
	padding-top: 10px;
}

#op .unchecked{
	color: grey;
}

/* 2 seccions  */


#sec2{
	padding: 100px 30px 100px 30px;
	background-image: url(media/contactwp.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	width: 87.5%;
	border-radius: 30px;
}

#contact{
	background-color: #45454590;
	border-radius: 20px 0px 0px 20px;
}

#contact h2{
	padding: 20px 0px 0px 20px;
}

#contact p{
	padding-left: 20px;
}

#contact ul{
	list-style: none;
}

#contact i{
	font-size: 2em;
	padding-bottom: 10px;
	vertical-align: middle;
}

#form{
	background-color: #45454590;
	border-radius: 0px 20px 20px 0px;
}

#form h2{
	padding-top: 20px;
}

#form #buttonsform{
	margin: 20px 0px 20px 0px;
}

#form .button{
	margin-right: 5px;
	background: #2E2E2E;
	border: solid #e0e0e0 2px;
	border-radius: 5px;
	color: #e0e0e0;
}


/*Footer*/



#footer {
	min-height: 75px;
	background: black;
	width: 100%;
}
#foot p{
	padding-top: 20px;
	padding-left: 10px;
	text-align: center;
}


.nav2{
	text-align: center;
}

.nav2 {
	 margin-top: 10px;
}
.nav2 li {
 
 text-decoration: none;
 display: inline-block;
 margin-right: 20px;
 margin-top: 10px;
}

.nav2 a{
	 text-decoration: none;
	 color: black;
}

.nav2 a i{
	font-size: 1.5em;
}



